<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Event Handling</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
</head>
<body>
    <div class="container py-5" id="app">
        <h1>Vote Your Favorite Frameworks</h1>
        <ul class="list-group">
            <li v-for="framework in topTenframework" class="list-group-item d-flex justify-content-between align-items-center">
                {{framework.name}}
                <button @click="framework.votes++"   class="btn btn-outline-primary">
                    Upvote
                    <span  class="badge badge-primary badge-pill">
                    	{{framework.votes}}
                    </span>
                </button>
            </li>


        </ul> 
		
    </div>
        
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
    new Vue({
        el: '#app',
         data:{
       topTenframework:[

            	  {name:"Dijango", votes:0},
            	  {name:"Laravel", votes:0},
            	  {name:"PHP", votes:0},
            	  {name:"Bootstrap", votes:0},

                ]    
}



    });
    </script>
</body>
</html>