<table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Price</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td class="text-right" colspan="2">
                                <strong>Subtotal</strong>
                            </td>

                            <td></td>
                        </tr>

                        <tr>
                            <td class="text-right" colspan="2">
                                <strong>Taxes</strong>
                            </td>

                            <td></td>
                        </tr>

                        <tr>
                            <td class="text-right" colspan="2">
                                <strong>Grand total</strong>
                            </td>

                            <td></td>
                        </tr>

                        <tr>
                            <td colspan="2"></td>
                            <td><button class="btn btn-success">Checkout</button></td>
                        </tr>
                    </tbody>
                </table>