<html>
<head>
	<title>This is vue js one</title>
	</head>
<body>
	<div id="app">
<h2>{{message}}</h2>


</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>
  new Vue({
            
         el:'#app',
            data:{
        
                   message:"this is vue js"

                }

        });
    </script>

</body>
</html>












