<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Conditional Rendering </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
</head>
<body>
    <div class="container py-5" id="app">
        <div v-if="showalert" class="alert alert-warning">
            You have no any records
        </div>
        <button v-on:click="showalert=false" class="btn btn-primary">Hide Message</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
  new Vue({
            
         el:'#app',
            data:{
        
                  showalert:true,

                }

        });
    </script>
</body>
</html>