<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List Rendering five</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
</head>
<body>
    <div class="container py-5" id="app">
        <h2>Top 10 Frameworks</h2>
        <table class="table table-bordered">
            <tr>
                <th>Framework</th>
                <th>Github Score</th>
                <th>Stack Overflow Score</th>
                <th>Overall Score</th>
            </tr>
            <tr v-for="framework in topTenframework" >
                <td>{{framework.name}}</td>
                <td>{{framework.Github}}</td>
                <td>{{framework.Stackoverflow}}</td>
                <td>{{framework.Overall}}</td>
            </tr>
			 
					    
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        new Vue({
            el:'#app',
            data:{
            		topTenframework:[
            	{name:"Dijango",Github:100,Stackoverflow:100,Overall:100},
            	{name:"Laravel",Github:99,Stackoverflow:98,Overall:99},
            	{name:"python",Github:100,Stackoverflow:100,Overall:100},
            	{name:"PHP",Github:100,Stackoverflow:90,Overall:100},
            	{name:"kotlin",Github:100,Stackoverflow:90,Overall:90},
            	{name:"bootstrap",Github:100,Stackoverflow:100,Overall:100},

                ]
                
            }
        });
    </script>
</body>
</html>


















