<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List Rendering three</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
</head>
<body>
    <div class="container py-5" id="app">
        <h2>Top 10 Frameworks</h2>
        <ul class="list-group">
            <li v-for="(framework,index) of  topTenframework " class="list-group-item d-flex justify-content-between align-items-center">
              {{framework}}
                <span class="badge badge-primary badge-pill"> {{scores[index]}} </span>   
            </li>
			 
        </ul>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        // Arrays of object
        new Vue({
            el:'#app',
            data:{
        topTenframework:['angular js','java','php','bootstrap','kotlin','c++','android','tareq'], //string

         scores: [100,99,92,98,90,59,80,99]   //integer
                
            }
        });
    </script>
</body>
</html>