<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List Rendering two</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
</head>
<body>
    <div class="container py-5" id="app">
        <h2>Top 10 Frameworks</h2>
        <ul class="list-group">
            <li v-for="framework in topTenframework "  class="list-group-item">
            	{{framework}}
            </li>
			                
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script>  
       new Vue({
            el:'#app',
            data:{
        
                   topTenframework:['java','php','kotlin','android','laravel','bootstrap','python']

                }
            
        });
    </script>
</body>
</html>



