<!DOCTYPE html>
<html lang="en-US">

    <head profile="http://gmpg.org/xfn/11">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>Shop &#8211; H+ Sport</title>
        <link rel="stylesheet" href="css/customizer.css">
    </head>
    <body class="page page-id-255 page-template-default no-featured-image">
        
        <div class="content">
            <div class="post single post-255 page type-page status-publish hentry no-featured-image">
                <!-- /post-header section -->
                <div class="post-content section-inner">
                    <section class="main-content">
                        <form class="cart" id="cart-hplus">
                            <div class="item">
                               
                                <!-- VUE COMPONENTS GO HERE -->
                                <div id="vue-root">
                                <div class="customizer">
  



                              <!--   	 <div v-bind:class="['product-image','product-size--'+ selectedSize.toString().replace('.','')]" > -->

                                    <div v-bind:class="['product-image', sizeclass ]" >     <!-- object akare nibo -->


                                        <img src="img/red.jpg" alt="" />
                                        <p class="product-image">
                                        	productsize: {{selectedSize}}
                                        </p>

                                          

                                    </div>

                                  
                                    <div class="selectors">
                                        <div class="field-group">
                                            <label for="size-options">Size:</label>
                                            <select v-model="selectedSize" name="sizeOptions" id="size-options">
                                                <option v-for="size in sizes">
                                                {{size}}
                                                </option>

                                                
                                                <!-- <option>7.5</option>
                                                <option>8</option>
                                                <option>8.5</option>
                                                <option>9</option>
                                                <option>9.5</option>
                                                <option>10</option>
                                                <option>10.5</option>
                                                <option>11</option>
                                                <option>11.5</option>
                                                <option>12</option>
                                                <option>12.5</option> -->


                                            </select>
                                        </div>


                                       	 <div class="field-group">
                                            <label for="color-options">Color:</label>
                                            <select v-model="selectedColor" name="colorOptions" id="color-options">
                                                <option v-for="color in colors">
                                                {{color}}
                                                </option>
                                            </select>
                                        </div>




                                      <!--    <div v-bind:class="['product-image','product-size--'+ selectedSize.toString().replace('.','')]" > -->

                                         <div v-bind:class="['color',' bySize--' + selectedColor.toString().replace('.','')]">
                                    	<p class="product-colors">
                                        	productColor: {{ selectedColor}}
                                        </p>

                                    </div>




                                      <!--    <div class="color">
                                    	<p class="product-colors">
                                        	productColor: {{ selectedColor}}
                                        </p>

                                    </div>
 -->



                                        <!-- 		 <div class="field-group">
                                            <label for="size-options">Color:</label>
                                            <select  name="sizeOptions" id="size-options">
                                                <option v-for="color in colors">
                                                {{color}}
                                                </option>
                                            </select>
                                        </div>
                                              -->




                                       
                                    </div>
                                </div>


                            </div>

                        </form>
                    </section>
                    <div class="clear"></div>
                </div>
            </div>
          
        </div>
       

        
         <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="js/ch02-inventory.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>
